@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h1 class="jumbotron">Client Details:</h1>
<h2>@Html.DisplayFor(model => model.Name)</h2>
<hr />
<h5>Service Requested: @Html.DisplayFor(model => model.ServiceRequested)</h5>
<h5>Stylist: @Html.DisplayFor(model => model.Stylist.Name)</h5>

<p>@Html.ActionLink("Back to list", "Index")</p>
<p>@Html.ActionLink("Edit client", "Edit", new { id = Model.ClientId })</p>
<p>@Html.ActionLink("Delete client", "Delete", new { id = Model.ClientId })</p>